<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
  <link type="text/css" rel="stylesheet" href="assets/css/bootstrap2.css">
    <script type="text/javascript" src="assets/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/search.js"></script>
</head>
<body>

  <div class="container" ng-app = "search" ng-controller="searchapp">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group" id="adv-search">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label ng-model="firstName" for="filter" class="pull-right">نام</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label class="pull-right" for="filter">نام خانوادگی</label>
                        <input ng-model="lastName" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label class="pull-right" for="contain">تخصص</label>
                        <input ng-model="speciality" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="pull-right" for="contain">مکان</label>
                        <input ng-model="place" class="form-control" type="text" />
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" ng-click="search()">جستجو  <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>