 <div ng-controller="edit" style="margin-right: 100px">
        <div class="container span9" style="padding-top: 60px;">
            <h1 class="page-header">ویرایش صفحه شخصی</h1>
            <div class="row">
                    <!-- edit form column -->
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <h3>مشخصات فردی</h3>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">نام</label>
                            <div class="col-lg-8">
                                <input class="span4 form-control"  ng-model="firstName" placeholder={{firstNameValue}} type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">نام خانوادگی</label>
                            <div class="col-lg-8">
                                <input class="span4 form-control" ng-model="lastName" placeholder="{{lastNameValue}}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">شماره تلفن همراه</label>
                            <div class="col-lg-8">
                                <input class="span4 form-control" ng-model="mobileNumber" placeholder="{{mobileNumberValue}}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">گذرواژه</label>
                            <div class="col-md-8">
                                <input class="span4 form-control" ng-model="password" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">تکرار گذرواژه</label>
                            <div class="col-md-8">
                                <input class="span4 form-control"  ng-model="confirmPassword" type="password">
                                <p ng-model="passwordError" ng-Hide="hideErrorPassword" style="color: red">{{ErrorvaluePassword}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="btn btn-primary" value="ذخیره تغییرات" type="button" ng-click="send()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br><br>
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <h3>بیمه ها</h3>
                    <div style="margin-bottom: 3%;">
                        <h3>بیمه های اخذ شده:</h3>
                        <div ng-repeat="x in insuranceCompanies">
                            <Strong>{{x}}</Strong>
                        </div>
                    </div>
                    <div style="margin-bottom: 3%;" ng-controller="DemoCtrl">
                        <h3>ویرایش بیمه ها (بیمه های انتخاب شده نمایانگر بیمه های فعلی است)</h3>
                        <label ng-repeat="role in roles">
                            <input type="checkbox" checklist-model="user.roles" checklist-value="role.id">
                            <strong>{{role.text}}</strong>
                        </label>
                        <br>
                        <button class="btn btn-primary" ng-click="checkAll()">انتخاب همه</button>
                        <button class="btn btn-primary" ng-click="uncheckAll()">عدم انتخاب همه</button>
                        @*<button ng-click="checkFirst()">انتخاب نخستین مورد</button>*@
                        <br><br>
                        <button class="btn btn-success" ng-click="saveInsurance()">ثبت بیمه ها</button>
                    </div>
                </div>
            </div>
            <br><br>
            <hr>
    </div>