<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>پنل مدیریت</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <script src="assets/javascripts/jquery-1.9.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
    <script src="/assets/js/dateConvertor.js" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/admin.js")" type="text/javascript"></script>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        th {
            color: #000;
            font-weight: 200;
        }
    </style>

    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">





<body class="body-prop">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">بین وقت</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">صفحه اصلی</a></li>
                    <li><a href="#about">درباره ما</a></li>
                    <li><a href="#contact">تماس با ما</a></li>
                </ul>
                <div class="btn-group pull-left">
                    <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> مدیر سایت</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#downmenu"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout"><i class="icon-off"></i>خروج</a></li>
                    </ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>



<div  class = "row" ng-app="admin" ng-controller="admin-ctr">
    <div class="span1"></div>
    <form class="form-area span12">
        <div class="tabbable tabs-right">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">پزشکان تائید نشده</a></li>
                <li><a href="#tab2" data-toggle="tab">پزشکان حاضر در سامانه</a></li>
                <li><a href="#tab3" data-toggle="tab">مشکلات گزارش شده</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <table  class="table table-hover">
                        <tr>
                            <th>نام و نام خانوادگی</th>
                            <th>نشانی الکترونیکی</th>
                            <th>تخصص</th>
                            <th style="align-content: center">عملیات</th>
                        </tr>
                        <tr ng-repeat="x in objects">
                            <td>{{x.firstName}} {{x.lastName}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.speciality}}</td>
                            <td><button class="btn-success" ng-click="acceptDoctor(x.email)">accept</button> <button class="btn-danger" ng-click="deleteDoctor(x.email)">reject</button></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="tab2">
                    <table  class="table table-hover">
                        <tr>
                            <th>نام و نام خانوادگی</th>
                            <th>نشانی الکترونیکی</th>
                            <th>تخصص</th>
                            <th style="align-content: center">عملیات</th>
                        </tr>
                        <tr ng-repeat="x in current">
                            <td>{{x.firstName}} {{x.lastName}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.speciality}}</td>
                            <td><button ng-click="rejectDoctor(x.email)" class="btn-danger">reject</button></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="tab3">
                    <table  class="table table-hover">
                        <tr>
                            <th>نام کاربری</th>
                            <th>موضوع</th>
                            <th>توضحیات</th>
                            <th style="align-content: center">عملیات</th>
                        </tr>
                        <tr ng-repeat="x in issues">
                            <td>{{x.custormerUsername}}</td>
                            <td>{{x.subject}}</td>
                            <td>{{x.issueReport}}</td>
                            <td><textarea ng-model="x._id"></textarea><button ng-click="solve(x.custormerUsername, x._id, x.subject, $index)" class="btn-primary">solve</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>






<hr>

<footer>
    <div class="row">
        <div class="span4 text-center footer-title"><h4 class="">آیا می‌خواهید به عنوان یک پزشک به ما بپیوندید ؟</h4>
            <a class = "footer-link" href=""> به عنوان یک پزشک ثبت نام کنید.</a>

        </div>
        <div class="span4"><h3></h3></div>

        <div class="span4"><h3></h3></div>


    </div>
</footer>



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
@*<script src="assets/js/jquery.js"></script>*@
@*<script src="assets/js/bootstrap-transition.js"></script>*@
@*<script src="assets/js/bootstrap-alert.js"></script>*@
@*<script src="assets/js/bootstrap-modal.js"></script>*@
@*<script src="assets/js/bootstrap-dropdown.js"></script>*@
@*<script src="assets/js/bootstrap-scrollspy.js"></script>*@
@*<script src="assets/js/bootstrap-tab.js"></script>*@
@*<script src="assets/js/bootstrap-tooltip.js"></script>*@
@*<script src="assets/js/bootstrap-popover.js"></script>*@
@*<script src="assets/js/bootstrap-button.js"></script>*@
@*<script src="assets/js/bootstrap-collapse.js"></script>*@
@*<script src="assets/js/bootstrap-carousel.js"></script>*@
@*<script src="assets/js/bootstrap-typeahead.js"></script>*@

</body>
</html>
