<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>صفحه ادمین</title>
    <script src="assets/javascripts/angular.min.js" type="text/javascript"></script>
    <script src="assets/js/adminLogin.js" type="text/javascript"></script>
    <script src="assets/js/headerDirective.js" type="text/javascript"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="shortcut icon" type="image/png" href="assets/javascripts/favicon.png">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
</head>
<body class="body-prop" ng-app="login" ng-controller="app">

    <div header></div>
    <div>
        <div class="row">
            <div class="span8" style="position:absolute;right: 33%;top:10%;width: 600px;height: 20%;border: 2px dashed blue;border-radius: 10%">
                <h3 class="text-center login-title">ورود مدیریت</h3>
                <div>
                    <form class="form-signin" style="position: relative;right: 12%;">
                        <input type="text" class="form-control" placeholder="Username" required autofocus ng-model="username">
                          <p ng-model="usernameError" ng-Hide="hideError" style="color: red">{{Errorvalue}}</p>
                        <input type="password" class="form-control" placeholder="Password" required ng-model="pass">
                        <p ng-model="passwordError" ng-Hide="hideErrorPassword" style="color: red">{{ErrorvaluePassword}}</p>
                        <div>
                            <button class="btn btn-primary" type="submit" ng-click="send()">
                            ورود</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>