@(doctorUsername: String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>صفحه دکتر</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

            <!-- Le styles -->
        @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/assets/javascripts/angular.min.js" type="text/javascript"></script>
        <script src="/assets/js/doctorPageAsUser.js" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <script src="/assets/js/headerDirective.js" type="text/javascript"></script>
        <Script type="text/javascript" src="/assets/js/dateScript.js"></Script>
        <Script type="text/javascript" src="/assets/js/persianPopupCalendar.js"></Script>
        <Script type="text/javascript" src="/assets/js/astro.js"></Script>

        <link href="/assets/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        th {
            color: #000;
            font-weight: 200;
        }
        </style>

        <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

            <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->

            <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/assets/ico/favicon.png">


<body class="body-prop" ng-app="drPageAsUser" ng-controller="doctorInfoController" >

    <script type="text/javascript">
            var infoURI = "@routes.DoctorsHandler.getDoctorInfo(doctorUsername)";
    </script>

    <div header></div>



    <div class="media" style="background-color: white;
        margin-right: 50px;
        margin-left: 50px;
        border-radius: 8px">
        <a class="pull-right" href="#">
            <img class="img-profile" src="/assets/images/pic.jpg">
        </a>
        <div class="media-body" style="color: #985f0d">
            <br>
            <br>
            <h3 class="media-heading" >دکتر {{firstName+ " "+ lastName}}</h3>
            <hr>
            <h4 class="media" ng-bind="speciality"></h4>

            <div class="media" style="color: black">
                امتیاز کاربران
            </div>
            <div class="rating">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
        </div>


        <div class="media" style="margin-right: 50px">
            <div class="media-body">
                <h3 class="media-heading" style="color: #985f0d ">رزومه</h3>
                <h4 class="media" style="color: #985f0d ">
                    مشخصات مطب:
                </h4>
                <h4 class="media" style="color: #985f0d">
                    آدرس مطب:
                </h4>


        <h5 class="media" style="color: #985f0d">
            {{clinicAddress}}
        </h5>

                <h4 class="media" style="color: #985f0d">
                    شماره تلفن مطب:<br/>

                </h4>

                <h5 class="media" style="color: #985f0d">
                    {{clinicPhoneNumber}}
                </h5>

            <h4  class="media" style="color: #985f0d">
                بیمه‌های مورد پشتیبانی:
            </h4>
            <h5>
                <ul class="media" style="color: #985f0d">
                    <li ng-repeat="insuranceCompany in supportedInsuranceCompanies">{{insuranceCompany}}</li>
                </ul>
            </h5>

                <h4 class="media" style="color: #985f0d">
                    رزرو وقت:
                </h4>
                سامانه رزرو وقت
                <br>
                <br>
                <div class="container" ng-controller="reserve">
                    <div class="row"  ng-show="reserved">
                            <h3> رزرو وقت:</h3>
                            <button ng-click="send()" class="btn btn-info">ذخیره و ارسال</button>
                            <hr/>

                            <div>
                                <fieldset  data-ng-repeat="choice in choices">
                                    <label>
                                        {{choice.id}}
                                    </label>
                                    <input ng-disabled="!choice.name" type="text" ng-model="choice.from" name="" placeholder="از ساعت">
                                    <input ng-disabled="!choice.name" type="text" ng-model="choice.to" name="" placeholder="تا ساعت">
                                    <input ng-disabled="!choice.name" type="text" ng-model="choice.date" name="درخواست1" size="30" placeholder="تاریخ">
                                    <a ng-show="choice.name" href="javascript:void(0)" mce_href="javascript:void(0)" onclick="showCal('درخواست1');
                                    return false;"
                                HIDEFOCUS><img name="popcal" align="absmiddle" src="/assets/img/calbtn.gif" mce_src="/assets/img/calbtn.gif" border="0"
                                    alt="Select Date">
                                    </a>
                                    <button style="border-radius: 50%" class="btn btn-danger" ng-show="$last" ng-click="removeChoice()">-</button>
                                <button ng-show="choice.name"style="border-radius: 4px" class="btn btn-success" ng-click="saveChoice(choice)">save</button>
                                </fieldset>
                                <button style="border-radius: 50%" class="btn btn-success" ng-click="addNewChoice()">+</button>
                                <hr>
                                <div ng-repeat="choice in choices">
                                    <div style="background-color:#00d2ff;height:120px; width: 400px; border: 2px solid black; border-radius: 3px; margin-bottom: 5px;" id="choicesDisplay">
                                        <div style="color:white;position: relative; right:37.5%;">
                                            <div style="color: black">
                                                <h4>{{ choice.id }}</h4>
                                            </div>
                                            <div>

                                                تاریخ:
                                                {{choice.date}}
                                            </div>
                                            <div>

                                                    از ساعت:
                                                {{choice.from}}
                                            </div>
                                            <div>

                                                تا ساعت:
                                                {{choice.to}}
                                            </div>
                                        </div>
                                </div>
                               </div>
                        </div>
                    </div>
                    <h3 ng-show="message" style="color: green">{{reservedMessage}}</h3>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>





    <div class="media" style="background-color: white;
        margin-right: 50px;
        margin-left: 50px;
        border-radius: 8px">

        <div class="media-body" style="margin-right: 50px" >
            <h4 class="media-heading" style="color: #985f0d;">
                نظرات کاربران:
            </h4>
            برای ثبت نظرات باید وارد سامانه شوید.
            <br>
            <br>
        </div>


    </div>


    <hr>

    <footer>
        <div class="row">
            <div class="span4 text-center footer-title"><h4 class="">آیا می‌خواهید به عنوان یک پزشک به ما بپیوندید ؟</h4>
                <a class = "footer-link" href=""> به عنوان یک پزشک ثبت نام کنید.</a>

            </div>
            <div class="span4"><h3></h3></div>

            <div class="span4"><h3></h3></div>


        </div>
    </footer>


        <!-- Le javascript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->


</body>
    <Script type="text/javascript">
        for(var i = 0 ; i < 20; i++){
            addCalendar('درخواست'+i, "Select Date", 'درخواست'+i, "");
        }
    </Script>

        <!-- jQuery -->
    <script src="/assets/js/jquery-3.1.1.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Menu Toggle Script -->
    <script>
            $("#menu-toggle").click(function (e) {

                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
    </script>
</html>
