<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>صفحه دکتر</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        th {
            color: #000;
            font-weight: 200;
        }
    </style>

    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">





<body class="body-prop">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">بین وقت</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">صفحه اصلی</a></li>
                    <li><a href="#about">درباره ما</a></li>
                    <li><a href="#contact">تماس با ما</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>


<!--<div class="media" style="background-color: white; margin-right: 50px; margin-left: 50px">-->

    <!--<img src="assets/images/pic.jpg" class="img-profile">-->
<!--</div>-->


<div class="media" style="background-color: white; margin-right: 50px; margin-left: 50px;border-radius: 8px">
    <a class="pull-right" href="#">
        <img class="img-profile" src="assets/images/pic.jpg">
    </a>
    <div class="media-body" style="color: #985f0d">
        <br>
        <br>
        <h3 class="media-heading">دکتر معتمد هاشمی</h3>
        <hr>
            <h4 class="media">
                دندان پزشک
            </h4>
            <h4 class="media">
                دندان پزشک اطفال
            </h4>
            <h4 class="media">
                ترمیمی و زیبایی
            </h4>
            <div class="media" style="color: black">
امتیاز کاربران
            </div>
        <div class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>


    <div class="media" style="margin-right: 50px">
        <div class="media-body">
            <h3 class="media-heading" style="color:#985f0d ">رزومه</h3>
            <h4 class="media" style="color:#985f0d ">
خدمات مطب:
            </h4>
توضیحات خدماتی که مطب ارائه می دهد
            <h4 class="media" style="color:#985f0d">
سوابق تحصیلی و حرفه ای:
            </h4>
            توضیحات در مورد سوابق تحصیلی و حرفه ای پزشک
            <h4 class="media" style="color:#985f0d">
حضویت در انجمن ها:
            </h4>
انجمن ها و نهاد های پزشکی که پزشک در آن حضور دارد
            <h4 class="media" style="color:#985f0d">
رزرو وقت:
            </h4>
            سامانه رزرو وقت
        <br>
        <br>
        </div>

    </div>

</div>

<div class="media" style="background-color: white; margin-right: 50px; margin-left: 50px;border-radius: 8px">

<div class="media-body" style="margin-right: 50px" >
    <h4 class="media-heading" style="color: #985f0d;">
        نظرات کاربران:
    </h4>
    برای ثبت نظرات باید وارد سامانه شوید.
<br>
<br>
</div>


</div>





<hr>

<footer>
    <div class="row">
        <div class="span4 text-center footer-title"><h4 class="">آیا می‌خواهید به عنوان یک پزشک به ما بپیوندید ؟</h4>
            <a class = "footer-link" href=""> به عنوان یک پزشک ثبت نام کنید.</a>

        </div>
        <div class="span4"><h3></h3></div>

        <div class="span4"><h3></h3></div>


    </div>
</footer>



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap-transition.js"></script>
<script src="assets/js/bootstrap-alert.js"></script>
<script src="assets/js/bootstrap-modal.js"></script>
<script src="assets/js/bootstrap-dropdown.js"></script>
<script src="assets/js/bootstrap-scrollspy.js"></script>
<script src="assets/js/bootstrap-tab.js"></script>
<script src="assets/js/bootstrap-tooltip.js"></script>
<script src="assets/js/bootstrap-popover.js"></script>
<script src="assets/js/bootstrap-button.js"></script>
<script src="assets/js/bootstrap-collapse.js"></script>
<script src="assets/js/bootstrap-carousel.js"></script>
<script src="assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
