<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>صفحه شخصی</title>
        <link rel="stylesheet" media="screen" href="/assets/css/bootstrap.css">
        <link href="/assets/css/simple-sidebar.css" rel="stylesheet">
        <script src="/assets/javascripts/angular.min.js" type="text/javascript"></script>
        <script src="/assets/js/doctorPage.js" type="text/javascript"></script>
        <script src="/assets/js/headerDirective.js" type="text/javascript"></script>
        <script src="/assets/js/dateConvertor.js" type="text/javascript"></script>
        <script src="/assets/javascripts/angular-route.js"></script>

            <!--calendar js-->
        <Script Language="JavaScript" Src="assets/js/dateScript.js"></Script>
        <Script Language="JavaScript" Src="assets/js/persianPopupCalendar.js"></Script>
        <Script Language="JavaScript" Src="assets/js/astro.js"></Script>
            <!-- Bootstrap Core CSS -->
        <link href="assets/css/bootstrap.css" rel="stylesheet">

            <!-- Custom CSS -->
        <link href="assets/css/simple-sidebar.css" rel="stylesheet">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


        <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        form {
            margin-right: 25%;
            display: inline-block;
        }

        p {
            margin-right: 20%;
        }

        h2 {
            margin-right: 20%;
        }
        </style>

        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

            <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

            <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="assets/ico/favicon.png">

    </head>
    <body class="body-prop" ng-app="doctorProfile" >

        <div header></div>


            <div id="wrapper" class="pull-right">

                    <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand" ng-controller = "callDoc">
                            <a href="#" style="color: white">
سلام دکتر
                               <p style="position: relative;right: 10%">{{lastName}}</p>
                            </a>
                        </li>
                        <li>
                            <a href="#docInfo">مشخصات فردی</a>
                        </li>
                        <li>
                            <a href="#docCalendar">تقویم کاری</a>
                        </li>
                        <li>
                            <a href="#doctorAppointments">قرار ملاقات</a>
                        </li>
                        <li>
                        <a href="#acceptedAppointmentRequest">ملاقات های تائید شده</a>
                        </li>
                        <li>
                            <a href="#">بیماران</a>
                        </li>
                        <li>
                            <a href="#">درخواست تبلیغ</a>
                        </li>
                        <li>
                            <a href="#">پیام ها</a>
                        </li>
                        <li>
                            <a href="#">گزارش مشکلات</a>
                        </li>
                        <li>
                            <a href="/logout">خروج</a>
                        </li>
                    </ul>
                </div>
                    <!-- /#sidebar-wrapper -->
            </div>


            <div ng-controller="panel" style="position:absolute;right:15%; width: 80%; height: 100%; background: #dadada; border: 1px solid white;" ng-view>


            </div>

            .

            <Script Language="JavaScript">
    addCalendar("calFirstDate", "Select Date", "myFirstDate", "");
    addCalendar("calSecondDate", "Select Date", "mySecondDate", "");
</Script>

                <!-- jQuery -->
            <script src="assets/js/jquery-3.1.1.min.js"></script>

                <!-- Bootstrap Core JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

                <!-- Menu Toggle Script -->
            <script>
    $("#menu-toggle").click(function (e) {

        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>



    </body>
</html>