<div style="top: 10%; position: absolute; margin-right: 5%">
    <h3>پیام های شما</h3>
    <hr>
  <div ng-controller="customerMessages">
    <div style="margin-top: 2%; margin-right:20%; width: 300px; height: auto; display: inline-block; border: 1px solid black; background: whitesmoke;margin-left: 0.5%" ng-repeat="message in messages">
      <div style="position: relative; right: 37%">
        <label><strong>موضوع</strong></label>
        {{message.subject}}
      </div>
      <div style="position: relative; right: 37%">
        <label><strong>توضیحات</strong></label>
        {{message.issueReport}}
      </div>
    </div>
  </div>
</div>